In [1]:
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [2]:
import warnings
warnings.filterwarnings('ignore')

#to display all rows columns 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [ ]:
# df = pd.read_csv('deliveries_updated.csv')
df = pd.read_csv('deliveries.csv')

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
# Create & Populate column - isNoRun
# check for extras - isWide, isNoball, Byes, Legbyes
# check for batsman_runs

def populate_isnorun(batsman_runs, isWide, isNoBall, Byes, LegByes):
    if batsman_runs + isWide + isNoBall + Byes + LegByes == 0:
        return 1
    else:
        return 0

In [ ]:
# df['isNoRun'] = df.apply(lambda x: populate_isnorun(x['batsman_runs'], x['isWide'], x['isNoBall'], x['Byes'], x['LegByes']), axis = 1)
df['isNoRun'] = df.apply(lambda x: populate_isnorun(x['batsman_runs'], x['wide_runs'], x['noball_runs'], x['bye_runs'], x['legbye_runs']), axis = 1)

In [ ]:
df.head()

In [ ]:
# pick a sample match
df1 = df[df['match_id'] == 1]

In [ ]:
df1

In [ ]:
new_df = pd.DataFrame(df1.groupby(['match_id', 'bowler', 'over']).apply(lambda x: list(x['isNoRun'])))

In [ ]:
new_df

In [ ]:
new_df.reset_index(inplace = True)
new_df = new_df.rename(columns={0:'over_outcomes'})

In [ ]:
new_df.head()

In [ ]:
ls = [1, 0, 1, 1, 1, 1]
ls = [str(i) for i in ls]

pattern = r'(1111)'
text = ''.join(ls)

In [ ]:
pattern, text

In [ ]:
left = 0
count = 0

while True:
    match = re.search(pattern, text[left:])
    if not match:
        break
    count += 1
    left += match.start() + 1
    
print(count)

In [ ]:
def consective_n_val_in_a_list(ls, pattern):
    ls = [str(i) for i in ls]

#     pattern = r'(111)'
    text = ''.join(ls)
    
    left = 0
    count = 0

    while True:
        match = re.search(pattern, text[left:])
        if not match:
            break
        count += 1
        left += match.start() + 1

    return count

In [ ]:
new_df['3dots'] = new_df['over_outcomes'].apply(lambda x: consective_n_val_in_a_list(x, r'(111)'))

In [ ]:
new_df['4dots'] = new_df['over_outcomes'].apply(lambda x: consective_n_val_in_a_list(x, r'(1111)'))

In [ ]:
new_df

# REGEX

In [ ]:
def you(name):
    print('hello '+name)

In [ ]:
you1 = you('Johnny')

In [ ]:
print('hello' ,'world', 'hello', sep = ',')

In [ ]:
101-345-5044

In [ ]:
def matchthepattern(text):
    if len(text)!=12 :
        return False
    for i in range(0,3) :
        if text[i].isdecimal() != True :
            return False
    if text[3] != '-':
        return False
    for i in range(4,7) :
        if text[i].isdecimal() != True :
            return False
    if text[7] != '-':
        return False
    for i in range(8,12) :
        if text[i].isdecimal() != True :
            return False
    return True

In [ ]:
print('415-555-4242 is a phone number:')
print(matchthepattern('415-555-4242'))
print('Moshi moshi is a phone number:')
print(matchthepattern('Moshi moshi'))

In [ ]:
def isphonenumber(text):
    for i in range(len(text)):
        chunk = text[i:i+12]
        if matchthepattern(chunk):
            print('Phone Number is Found:', chunk)

In [ ]:
print(isphonenumber('i have a phone number which goes like 415-555 but the actual phone number is 415-555-4242. I know your phone number is 316-789-6754'))

In [ ]:
! pip install pyperclip

In [ ]:
import re
import pyperclip

In [ ]:
regexobj = re.compile(r'(\(\d\d\d\)) (\d\d\d-\d\d\d\d)')
mo = regexobj.search('my phone number is (456) 567-8900')
print(mo.group(1))

In [ ]:
print('this is area code:', mo.group(1))
print('this is phone number:', mo.group(2))

In [ ]:
mo.groups()

In [ ]:
regexobj= re.compile(r'(ha){3,5}?')
string = regexobj.search('hahahahaha')
string.group()

In [ ]:
regexobj = re.compile(r'(\d\d\d)(\s|-|\.?)(\d\d\d)')
mo = regexobj.findall('I have good marks and my number is 312-457, also take a look at 456 908')
mo

In [ ]:
mo[0]

In [ ]:
for groups in mo:
    print(groups[0])

In [ ]:
regexobj = re.compile(r'''
                      [a-zA-Z0-9])

In [ ]:
lis = [('a','b','c'),('g',1,'h')]

In [ ]:
lis[1]

In [ ]:
pyperclip.paste()

In [ ]:
regexph = re.compile(r'''(
                     (\d{3}|\(\d{3}\))?        
                     (\s|-|\.)?                
                     (\d{3})                  
                     (\s|-|\.)                
                     (\d{4})                   
                      )''',re.VERBOSE)

In [ ]:
text

In [ ]:
text = pyperclip.paste()

In [ ]:
match = []
for group in regexph.findall(text):
    phno = '-'.join([group[1],group[3],group[5]])
    match.append(phno)

In [ ]:
match

In [ ]:
regexmail = re.compile(r'''(
                       [a-zA-Z0-9._%$]+
                       \@
                       [a-zA-Z0-9]+
                       (\.[a-zA-Z]{2,4})
                       )''',re.VERBOSE)

In [ ]:
for group in regexmail.findall(text):
    match.append(group[0])

In [ ]:
if len(match)>=0:
    pyperclip.copy('\n'.join(match))
    print('\n'.join(match))

In [ ]:
text = pyperclip.paste()

In [ ]:
text

In [ ]:
http://pageplay.com  http://www.google.com

In [ ]:
regexdomain = re.compile(r'((http:\/\/|https:\/\/)(www\.)?[a-zA-Z0-9]+\.[a-z/\-]+)')

In [ ]:
regexdomain.findall(text)

In [ ]:
regex = re.compile(r'bat(wo)*man')
mo = regex.search('I am a batman')
mo.group()

In [ ]:
(such as 3/14/2015, 03-14-2015,and 2015/3/14)

In [ ]:
text = pyperclip.paste()

In [ ]:
text

In [ ]:
regexdate = re.compile(r'(([0-9]{1,4})[/\-]+([0-9])+[/\-]+([0-9]{2,4}))')

In [ ]:
regexdate.sub('14-03-2015',text)

In [ ]:
regexdate.findall(text)

In [ ]:
text

In [ ]:
text = pyperclip.paste()

In [ ]:
regexname = re.compile(r'([A-Z]{1}[a-z]+[A-Z]?[a-z]+\sNakamoto)')

In [ ]:
regexname.findall(text)

In [ ]:
text = pyperclip.paste()

In [ ]:
regexob = re.compile(r'([A-Z]+[a-z]*\s[A-Z]*[a-z]*\s[^F][A-Z]*[a-z]*\.)')

In [ ]:
regexob.findall(text)

Write a function that uses regular expressions to make sure the password 
string it is passed is strong. A strong password is defined as one that is at 
least eight characters long, contains both uppercase and lowercase characters, and has at least one digit. You may need to test the string against multiple regex patterns to validate its strength

In [ ]:
regexobj = re.compile(r'[a-zA-Z/\-_@&#?+!]*[0-9]+')

# Password Strength Detector

In [ ]:
def passdetector(string):
    regexobj = re.compile(r'([a-zA-Z/\-_@&#?+!]*[0-9]+)')
    if len(string)<8 :
        return 'Password too short'
    if regexobj.match(string)!=None:
        return 'Your password is strong!!'
    else:
        return 'Your password is weak'

In [ ]:
passdetector('bulls1')

In [ ]:
import os

In [ ]:
os.path.join('pub','doc','game')

In [ ]:
os.getcwd()

In [ ]:
text = pyperclip.paste()

In [ ]:
regexpl = re.compile(r'([A-Z][a-z]+\s[A-Z][a-z]+)')

In [ ]:
for names in regexpl.findall(text):
    if names[0]=='P':
        print(names)

In [ ]:
os.path.isabs(os.path.abspath('.'))

In [ ]:
cal = 'C:\\Windows\\System32\\calc.exe'

In [ ]:
os.path.dirname(os.getcwd())

In [ ]:
os.path.basename(cal)

In [ ]:
os.path.split(os.getcwd())

In [ ]:
cal.split(sep = os.path.sep)

In [ ]:
os.listdir('D:\Cricket Archives')

In [ ]:
total = 0
for files in os.listdir('D:\Cricket Archives'):
    total += os.path.getsize(os.path.join('D:\Cricket Archives',files))
print(total)

In [ ]:
file = os.path.join('D:\Cricket Archives','it delh,madras,dhanbad MBA.pdf')

In [ ]:
os.path.getsize(file)

In [ ]:
file = open('D:\\Cricket Archives\\IPL2022.txt')

In [ ]:
content = file.read()

In [ ]:
content

In [ ]:
player = open('players.txt','w')

In [ ]:
player.write(r'Virat Kohli is the 1st player!\n')

In [ ]:
player.close()

In [ ]:
player = open('players.txt','a')
player.write('MS Dhoni is also a great player!')
player.close()

In [ ]:
player = open('players.txt','r')
content = player.readlines()
player.close()

In [ ]:
content

In [ ]:
os.path.getsize('.\\players.txt')

In [ ]:
os.listdir('.')

Creates 35 different quizzes.
•	 Creates 50 multiple-choice questions for each quiz, in random order.
•	 Provides the correct answer and three random wrong answers for each 
question, in random order.
•	 Writes the quizzes to 35 text files.
•	 Writes the answer keys to 35 text files.
This means the code will need to do the following:
•	 Store the states and their capitals in a dictionary.
•	 Call open(), write(), and close() for the quiz and answer key text files.
•	 Use random.shuffle() to randomize the order of the questions and 
multiple-choice options

In [ ]:
import random

In [ ]:
capitals = {'Alabama': 'Montgomery', 'Alaska': 'Juneau', 'Arizona': 'Phoenix', 
'Arkansas': 'Little Rock', 'California': 'Sacramento', 'Colorado': 'Denver', 
'Connecticut': 'Hartford', 'Delaware': 'Dover', 'Florida': 'Tallahassee', 
'Georgia': 'Atlanta', 'Hawaii': 'Honolulu', 'Idaho': 'Boise', 'Illinois': 
'Springfield', 'Indiana': 'Indianapolis', 'Iowa': 'Des Moines', 'Kansas': 
'Topeka', 'Kentucky': 'Frankfort', 'Louisiana': 'Baton Rouge', 'Maine': 
'Augusta', 'Maryland': 'Annapolis', 'Massachusetts': 'Boston', 'Michigan': 
'Lansing', 'Minnesota': 'Saint Paul', 'Mississippi': 'Jackson', 'Missouri': 
'Jefferson City', 'Montana': 'Helena', 'Nebraska': 'Lincoln', 'Nevada': 
'Carson City', 'New Hampshire': 'Concord', 'New Jersey': 'Trenton', 'New Mexico': 'Santa Fe', 'New York': 'Albany', 'North Carolina': 'Raleigh', 
'North Dakota': 'Bismarck', 'Ohio': 'Columbus', 'Oklahoma': 'Oklahoma City', 
'Oregon': 'Salem', 'Pennsylvania': 'Harrisburg', 'Rhode Island': 'Providence', 
'South Carolina': 'Columbia', 'South Dakota': 'Pierre', 'Tennessee': 
'Nashville', 'Texas': 'Austin', 'Utah': 'Salt Lake City', 'Vermont': 
'Montpelier', 'Virginia': 'Richmond', 'Washington': 'Olympia', 'West Virginia': 'Charleston', 'Wisconsin': 'Madison', 'Wyoming': 'Cheyenne'}

In [ ]:
capitals[list(capitals.keys())[0]]

In [ ]:
for i in capitals.items():
    print(i)

In [ ]:
type(list(capitals.values()))

In [ ]:
random.shuffle(x)

In [ ]:
x[0:3]

In [ ]:
print('a', 'abc' '\n' + 'b','bca')

In [ ]:
x = list(capitals.values())

In [ ]:
for i in range(1,36):
    quiz = open('file' +str(i)+'.txt','a')
    random.shuffle(capitals)
    for j,k in capitals.items():
        x = list(capitals.values())
        random.shuffle(x)
        op = [k]+x[0:3]
        random.shuffle(op)
        content = quiz.write('What is the capital of ' + j + '?\n' + op[0]+' '+op[1]+' '+op[2]+' '+op[3] + '\n'+'\n') 
    
    quiz.close()

In [ ]:
lis = list(capitals.keys())

In [ ]:
random.shuffle(lis)

In [ ]:
lis

In [ ]:
quiz.close()

In [ ]:
lis = ['s','b','c']

In [ ]:
lis.index('c')

In [ ]:
for i in range(1,36):
    quiz = open('Quiz%s.txt' %i,'w')
    quiz.write('Name:\n\n'+'Roll:\n\n'+'Date:\n\n')
    quiz.write(" "*30 + 'State-Capital Quiz (Set-%s)' %i +'\n\n')
    
    states = list(capitals.keys())
    random.shuffle(states)
    
    
    for j in range(50):
        quiz.write('%s.'%(j+1) +' '+ 'What is the capital of %s?'%states[j] + '\n')
        correct = capitals[states[j]]
        wrong = list(capitals.values())
        del wrong[wrong.index(correct)]
        wrong = random.sample(wrong,3)
        options = wrong +[correct]
        random.shuffle(options)
        quiz.write(' A. %s\n B. %s\n C. %s\n D. %s\n\n' %(options[0],options[1],options[2],options[3]))
    quiz.close()

In [ ]:
for i in range(1):
    print('a:\n\n'+'b:')

# Program that searches for specified words in a file and replaces it and saves the modified string in a new file

In [ ]:
import re

In [ ]:
madlib = open('Madlibs.txt','r')
content = madlib.read()
regexob = re.compile(r'(ADJECTIVE|NOUN|VERB)')
mo = regexob.findall(content)
madlib.close()
for i in mo:
    print('Enter %s :' %i)
    inp = input()
    inpob = re.compile(i)
    content = inpob.sub('%s'%inp,content)

print(content)
newfile = open('modified.txt','w')
con = newfile.write(content)
newfile.close()

# Program to search through a folder and find those line(s) which matches the user provided regex pattern

In [ ]:
import glob
import re
import os

In [ ]:
print('Please enter the regex pattern: ')
inp = input()
for file in glob.glob(os.getcwd()+'\*.txt'):
    openfile= open(file,'r')
    textfile = openfile.read()
    regexobj = re.compile(r'%s' %inp)
    content = regexobj.search(textfile)
    if content != None:
        print(content.groups())
    else:
        print('No Match found')
    openfile.close()

In [ ]:
text = open('C:\\Users\\prana\\Madlibs.txt','r')

In [ ]:
text.read()

In [ ]:
import webbrowser
import pyperclip
import requests

In [ ]:
address = pyperclip.paste()

In [ ]:
webbrowser.open('https://www.google.com/maps/place/' +'dhanbad')

In [ ]:
import sys

In [ ]:
sys.argv

In [ ]:
lis = ['https://www.thecricketmonthly.com/story/1321190/my-favourite-cricket-photo---a-young-sachin-tendulkar-leaves-a-ball-in-sydney-in-1992','https://regexr.com/']

In [ ]:
for links in lis:
    webbrowser.open(links)

In [ ]:
res = requests.get('http://inventwithpython.com/page_that_does_not_exist')

In [ ]:
res.status_code==requests.codes.ok

In [ ]:
try:
    res.raise_for_status()
except Exception as ex:
    print('there was a problem: %s' %ex)

In [ ]:
res = requests.get('https://automatetheboringstuff.com/files/rj.txt')

In [ ]:
res.raise_for_status

In [ ]:
file = open('Romeo_Juliet.txt','wb')

In [ ]:
for chunk in res.iter_content(100000):
    file.write(chunk)

In [ ]:
file.close()

In [ ]:
resn = requests.get('https://www.espncricinfo.com/ci/content/story/144221.html')

In [ ]:
resn.text

## BeautifulSoup and CSS Selector

In [ ]:
import bs4
import requests
import webbrowser
import os

In [ ]:
fi = open('example.html') #open a file from the current directory

In [ ]:
fi.read()

In [ ]:
bsobj = bs4.BeautifulSoup(fi.read()) #parse the html file using Beautifulsoup to get BeautifulSoup Object

In [ ]:
bsobj #Beautifulsoup object

In [ ]:
element = bsobj.select('#author') #using CSS selector and BeautifulSoup object's select function we get list of all the matching elements

In [ ]:
element[0].getText()

In [ ]:
element[0].attrs #returns attribute and it's value as a dictionary

In [ ]:
pelem = bsobj.select('p')

In [ ]:
len(pelem)

In [ ]:
pelem[0].getText()

In [ ]:
pelem[1].attrs

In [ ]:
div class="yuRUbf"

In [ ]:


resp = requests.get('https://www.amazon.in/alm/storefront?almBrandId=ctnow&pf_rd_r=T2RMDCQ48NZG4GP8DSP0&pf_rd_p=dbcfb001-76fa-49bc-ada6-a13d343a1124')

bsobj1 = bs4.BeautifulSoup(resp.text)

elements = bsobj1.select('div.a-box-group standard-kepler-widget-product p13n-asin a[href]')

In [ ]:
elements

In [ ]:
webbrowser.open('https://www.google.com/'+s)

In [ ]:
bsobj1

# Loading the webcomic and downloading it

In [ ]:
import bs4
import requests
import webbrowser
import os

In [ ]:
os.makedirs('comics-xkcd',exist_ok = True)
url = 'https://xkcd.com/1037/'

while url.endswith('#')==False :
    print('downloading url: %s' %url)
    res = requests.get(url)
    
    res.raise_for_status
    
    soup = bs4.BeautifulSoup(res.text)
    tag_obj = soup.select('#middleContainer>a')
    try:
        if tag_obj == []:
            print('Could not find comics image, please try again')
        else:
            comic_link = tag_obj[1].get('href')
    except:
        pass
    get_com = requests.get(comic_link)
    get_com.raise_for_status
    
    
    try:
        
        filename = open(os.path.join('comics-xkcd',os.path.basename(comic_link)),'wb')
        for chunk in get_com.iter_content(100000):
            print('downloading comic image: %s' %os.path.basename(comic_link) )
            filename.write(chunk)
        filename.close()   
    except:
        pass
    
    prev_url = soup.select('a[rel="prev"]')[0]
    url = 'https://xkcd.com'+ prev_url.get('href')

In [ ]:
class="xl:ds-w-[730px]"

# Dowloading Book Images from Flipkart

In [ ]:
url = 'https://www.flipkart.com/search?q=books&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off'
os.makedirs('flipkart_books',exist_ok=True)
print(url)

for j in range(5):
    res_com =requests.get(url)
    res_com.raise_for_status
    soup_com = bs4.BeautifulSoup(res_com.text)
    tag_com = soup_com.select('div.CXW8mj>img')
    try:
        for i in range(len(tag_com)):
            s = tag_com[i].get('src')
            cn = requests.get(s)
            name = os.path.basename(s)[:-5]
            file = open(os.path.join('flipkart_books',name),'wb')
            for chunk in cn.iter_content():
                print('dowloading book image: %s' %name)
                file.write(chunk)
            file.close()

        element = soup_com.select('div._2MImiq>a')
        next_url = 'https://www.flipkart.com/'+element[0].get('href')
    except:
        pass

In [ ]:
s = "https://rukminim1.flixcart.com/image/612/612/l3vxbbk0/book/y/w/2/mindf-ked-original-imagewkkszjrzzug.jpeg?q=70"

In [ ]:
s[:-1]

# Using Selenium

In [ ]:
from selenium import webdriver

In [ ]:
browser= webdriver.Edge()
browser.get('http://inventwithpython.com/')

elem = browser.find_element_by_link_text("Read Online for Free")
print('The <%s> tag contains the required element' %(elem.tag_name))
elem.click()

In [ ]:
print('Sorting out recaptcha:')
recaptcha = browser.find_element_by_id('recaptcha-anchor')
recaptcha.click()
recaptcha_sub = browser.find_element_by_id('recaptcha-submit')
recaptcha_sub.click()

In [ ]:
browser = webdriver.Edge()
browser.get('https://login.yahoo.com/?.src=ym&pspid=159600001&activity=mail-direct&.lang=en-IN&.intl=in&.done=https%3A%2F%2Fin.mail.yahoo.com%2Fd%2F%3F.intl%3Din%26.lang%3Den-IN')
username = browser.find_element_by_id('login-username')
print('Enter Username:')
name = input()
username.send_keys(name)
print('Entered the username: %s'%name)
next_bt= browser.find_element_by_id('login-signin')
print('clicking on next button:')
next_bt.click()
browser.implicitly_wait(10)

try:
    print('Sorting out recaptcha:')
    recaptcha = browser.find_element_by_id('recaptcha-anchor')
    recaptcha.click()
    recaptcha_sub = browser.find_element_by_id('recaptcha-submit')
    recaptcha_sub.click()
except:
    pass
browser.implicitly_wait(10)

pwd = browser.find_element_by_id('login-passwd')
print('Enter Password:')
password = input()
pwd.send_keys(password)
next_bt.click()
browser.implicitly_wait(5)
try:
    print('Sorting out recaptcha:')      
    recaptcha.click()     
    recaptcha_sub.click()
except:
    pass

# Entering Password and Username using Selenium

In [ ]:
from selenium import webdriver

In [ ]:
browser = webdriver.Edge()
browser.get('https://stackoverflow.com/users/login?ssrc=head&returnurl=https%3a%2f%2fstackoverflow.com%2f')
usern_elem = browser.find_element_by_id('email')
print('Enter Your Username:')
name = input()
usern_elem.send_keys(name)
pwd_elem = browser.find_element_by_id('password')
print('Enter Your Password:')
password = input()
pwd_elem.send_keys(password)
pwd_elem.submit()

# Scrolling webpage using Selenium

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.select import Select
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import time
import requests
from bs4 import BeautifulSoup

In [ ]:
quotes = driver.find_elements_by_css_selector('div[id ^= "pos_1"]>a>div')

wait = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.CSS_SELECTOR, 'div#checkbox')))
wait.click()

In [ ]:
driver = webdriver.Edge()

driver.get('https://www.brainyquote.com/')


time.sleep(20)
        
        
keyword = input("Please enter the keyword for the Quotes: ")

search_bt = driver.find_element_by_id('hmsearch')
search_bt.click()



quote_list = WebDriverWait(driver,10).until(EC.presence_of_element_located((BY.ID, 'quotesList')))



for quote in quotes:
    print(quote.text)

In [ ]:
#first using beautiful soup and requests -- Didn't work

In [ ]:

keyword = input('Please Enter the Keyword: ')
url  ='https://www.google.com/search?q='+keyword
print(url)
res = requests.get(url)

soup = BeautifulSoup(res.text,'html.parser')
tag_obj = soup.find('yuRUbf')
print(tag_obj)
for i in tag_obj:
    links = i.get_text()
    
    print(links)

In [ ]:
#using selenium -- Worked

In [ ]:
driver = webdriver.Edge()
driver.get(url)

ob = WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, 'div.yuRUbf>a')))

print(ob)
for i in ob:
    links = i.get_attribute('href') #to extract attribute from a webelement

# scraping BCCI Website using Selenium

In [ ]:
url = 'https://www.bcci.tv/events/73/india-tour-of-west-indies-t20-series-2022/match/588/2nd-t20i'
driver = webdriver.Edge()#driver interacts with the webbrowser
driver.get(url)

#using explicit wait which offers finer controls over wait time.
ob = WebDriverWait(driver,30).until(EC.presence_of_all_elements_located((By.CSS_SELECTOR,'div[class="cmdText ng-binding ng-scope"]')))

#presence of all_elements_located returns Web elements, which can be read using text 
txtcom = []
for i in ob:
    com = i.text
    txtcom.append(com)

In [ ]:
url = 'https://www.bcci.tv/events/73/india-tour-of-west-indies-t20-series-2022/match/588/2nd-t20i'
driver = webdriver.Edge()
driver.get(url)

#without using any wait 
ob = driver.find_elements_by_css_selector('div.cmdText.ng-binding.ng-scope')

txtcom = []
for i in ob:
    com = i.text
    txtcom.append(com)
input('Press Enter to close the web browser')
    
driver.quit()

In [ ]:
#BeautifulSoup can be applied with selenium too.

url = 'https://www.bcci.tv/events/73/india-tour-of-west-indies-t20-series-2022/match/588/2nd-t20i'
driver = webdriver.Edge()
driver.get(url)

#page_souruce attribute will fetch the source code including the elements loaded by javascript. This can then be parsed using
#Beautiful Soup

source_code = driver.page_source

soup = BeautifulSoup(source_code,'html.parser')

tag_obj = soup.select('div.cmdText.ng-binding.ng-scope')

new = []
for i in tag_obj:
    new.append(i.get_text())

In [ ]:
url = 'https://currentaffairs.adda247.com/commonwealth-games-2022-medal-tally-of-india-in-cwg/'

res = requests.get(url)
soup = BeautifulSoup(res.text,'html.parser')

tag_obj = soup.find_all('table')

cwg_table = tag_obj[1]

header_elem = cwg_table.find('tr').find_all('td')

medal_tally = []
header = []
for i in header_elem:
    
    header.append(i.get_text())
    
row_elems = cwg_table.find_all('tr')[1:]

for i in row_elems:
    eachrow = i.find_all('td')
    rows = []
    for j in eachrow:
        
        row1 = j.get_text()
        rows.append(row1)
     
    for k in range(len(header)):
        dic = {header[k]:rows[k]}            
        medal_tally.append(dic)

In [ ]:
medal_tally

In [5]:
url = 'https://currentaffairs.adda247.com/commonwealth-games-2022-medal-tally-of-india-in-cwg/'

res = requests.get(url)
soup = BeautifulSoup(res.text,'html.parser')

tag_obj = soup.find_all('table')

cwg_table = tag_obj[1]

header_elem = cwg_table.find('tr').find_all('td')

medal_tally = {}
final = []
header = []
for i in header_elem:
    
    header.append(i.get_text())
    
row_elems = cwg_table.find_all('tr')[1:]

for i in row_elems:
    eachrow = i.find_all('td')
    rows = []
    for j in eachrow:
        
        row1 = j.get_text()
        rows.append(row1)
     
    for k in range(len(header)):
        medal_tally[header[k]] = rows[k]
    print(medal_tally)
    final.append(medal_tally.copy())

[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}, {'Ranks': '14.', 'Country': 'Bermuda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}, {'Ranks': '14.', 'Country': 'Bermuda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '14.', 'Country': 'Uganda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}, {'Ranks': '14.', 'Country': 'Bermuda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '14.', 'Country': 'Uganda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '16.', 'Country': 'Northern Ireland', 'Gold': '0', 'Silver': '2', 'Bronze': '3', 'Total Medal': '5'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}, {'Ranks': '14.', 'Country': 'Bermuda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '14.', 'Country': 'Uganda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '16.', 'Country': 'Northern Ireland', 'Gold': '0', 'Silver': '2', 'Bronze': '3', 'Total Medal': '5'}, {'Ranks': '17.', 'Country': 'Fiji', 'Gold': '0', 'Silver': '2', 'Bronze': '0', 'Total Medal': '2'}]
[{'Ranks': '1.', 'Country': 'Australia', 'Gold': '42', 'Silver': '32', 'Bronze': '32', 'Total Medal': '106'}, {'Ranks': '2.', 'Country': 'England', 'Gold': '31', 'Silver': '34', 'Bronze': '31', 'Total Medal': '86'}, {'Ranks': '3.', 'Country': 'New Zealand', 'Gold': '13', 'Silver': '7', 'Bronze': '6', 'Total Medal': '26'}, {'Ranks': '4.', 'Country': 'Canada', 'Gold': '11', 'Silver': '16', 'Bronze': '19', 'Total Medal': '46'}, {'Ranks': '5.', 'Country': 'South Africa', 'Gold': '6', 'Silver': '5', 'Bronze': '5', 'Total Medal': '16'}, {'Ranks': '6.', 'Country': 'India', 'Gold': '5', 'Silver': '5', 'Bronze': '3', 'Total Medal': '14'}, {'Ranks': '7.', 'Country': 'Scotland', 'Gold': '3', 'Silver': '8', 'Bronze': '15', 'Total Medal': '26'}, {'Ranks': '8.', 'Country': 'Wales', 'Gold': '3', 'Silver': '2', 'Bronze': '8', 'Total Medal': '13'}, {'Ranks': '9.', 'Country': 'Malaysia', 'Gold': '3', 'Silver': '2', 'Bronze': '3', 'Total Medal': '8'}, {'Ranks': '10.', 'Country': 'Nigeria', 'Gold': '2', 'Silver': '1', 'Bronze': '2', 'Total Medal': '5'}, {'Ranks': '11.', 'Country': 'Singapore', 'Gold': '1', 'Silver': '2', 'Bronze': '0', 'Total Medal': '3'}, {'Ranks': '12.', 'Country': 'Cyprus', 'Gold': '1', 'Silver': '1', 'Bronze': '2', 'Total Medal': '4'}, {'Ranks': '13.', 'Country': 'Trinidad & Tobago', 'Gold': '1', 'Silver': '1', 'Bronze': '1', 'Total Medal': '3'}, {'Ranks': '14.', 'Country': 'Bermuda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '14.', 'Country': 'Uganda', 'Gold': '1', 'Silver': '0', 'Bronze': '0', 'Total Medal': '1'}, {'Ranks': '16.', 'Country': 'Northern Ireland', 'Gold': '0', 'Silver': '2', 'Bronze': '3', 'Total Medal': '5'}, {'Ranks': '17.', 'Country': 'Fiji', 'Gold': '0', 'Silver': '2', 'Bronze': '0', 'Total Medal': '2'}, {'Ranks': '18.', 'Country': 'Kenya', 'Gold': '0', 'Silver': '1', 'Bronze': '1', 'Total Medal': '2'}]

In [8]:
pd.DataFrame(final).set_index('Ranks')

                 Country Gold Silver Bronze Total Medal
Ranks
1.     Australia          42   32     32     106
2.     England            31   34     31     86
3.     New Zealand        13   7      6      26
4.     Canada             11   16     19     46
5.     South Africa       6    5      5      16
6.     India              5    5      3      14
7.     Scotland           3    8      15     26
8.     Wales              3    2      8      13
9.     Malaysia           3    2      3      8
10.    Nigeria            2    1      2      5
11.    Singapore          1    2      0      3
12.    Cyprus             1    1      2      4
13.    Trinidad & Tobago  1    1      1      3
14.    Bermuda            1    0      0      1
14.    Uganda             1    0      0      1
16.    Northern Ireland   0    2      3      5
17.    Fiji               0    2      0      2
18.    Kenya              0    1      1      2
18.    Mauritius          0    1      1      2
20.    Guernsey           0    1      0      1
20.    Papua New Guinea   0    1      0      1
20.    Samoa              0    1      0      1
20.    Tanzania           0    1      0      1
24.    Malta              0    0      1      1
24.    Namibia            0    0      1      1
24.    Sri Lanka          0    0      1      1

In [16]:
alist = []
adic = {}
for i in range(10):
    adic['good']= 'bad'
alist.append(adic)
print(alist)

[{'good': 'bad'}]

# Wagon Wheel

In [ ]:
data-tab="wagonWheelContent" #wagonwheel click

In [11]:
driver = webdriver.Edge()
driver.get('https://www.bcci.tv/events/73/india-tour-of-west-indies-t20-series-2022/match/589/3rd-t20i')

wagon_tab = driver.find_element_by_css_selector('li[data-tab="wagonWheelContent"]')
wagon_tab.click()#click on the wagon tab

#find the dropdown element to select a batter
#obj = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.CSS_SELECTOR,'div.col.s12.m12.l12.settingWrap.uniform-grid')))
#elem = Select(obj.find_element_by_tag_name('select'))
    
#batter = elem.select_by_value('Suryakumar Yadav ')     
                      
wagon_elm = driver.find_elements_by_css_selector('div.wagonData.uniform-grid.js-wagonSideElements.offside div')

print(wagon_elm)
                      
# final = []
# for sides in wagon_elm:
#     region = sides.find_element_by_tag_name('h6').text
    
#     runs = sides.find_element_by_css_selector('span>i').text
      
#     dic = {'Region':region,'Runs':runs}                  
                      
#     final.append(dic.copy())

[<selenium.webdriver.remote.webelement.WebElement (session="3722c1e317041401828ef6102dad7746", element="c0d05459-a768-4ab4-a678-c8deb6f17ad6")>, <selenium.webdriver.remote.webelement.WebElement (session="3722c1e317041401828ef6102dad7746", element="0d850d3c-6090-48ac-941f-5dc3877b6268")>, <selenium.webdriver.remote.webelement.WebElement (session="3722c1e317041401828ef6102dad7746", element="2a8d2bea-4f09-4fc1-9820-2fb456e52bb6")>, <selenium.webdriver.remote.webelement.WebElement (session="3722c1e317041401828ef6102dad7746", element="d9820ffb-11a4-40a0-855c-35b68da05e2a")>]

In [ ]:
# SQL, TABLEAU, EXCEL, Python, Power BI,

# Scraping Linkdin

In [9]:
driver = webdriver.Edge()
driver.get('https://in.linkedin.com/jobs/search?keywords=Data%2BAnalyst&location=India&geoId=102713980&f_TPR=r2592000&currentJobId=3211781970&position=7&pageNum=0')


webelem = driver.find_element_by_css_selector('section.two-pane-serp-page__results-list>ul')


#Script for infinite scrolling
SCROLL_PAUSE_TIME = 3
last_height = driver.execute_script("return document.body.scrollHeight")


while True:
    
   
   
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)
    
   


    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break      
    last_height = new_height
    
    
last_height = driver.execute_script("return document.body.scrollHeight")   

for i in range(400):
    #find the "show more" button
    button_elem = WebDriverWait(driver,5).until(EC.element_to_be_clickable((By.CSS_SELECTOR,'button.infinite-scroller__show-more-button.infinite-scroller__show-more-button--visible')))
    #click on that button
    button_elem.click()
    
    time.sleep(SCROLL_PAUSE_TIME)
    #scroll down to the bottom of the page
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break      
    last_height = new_height

#find the links to the job description
lis = webelem.find_elements_by_css_selector('li>div>a')


link_list = []
for i in lis:
    links = i.get_attribute('href')
    link_list.append(links)

text = []
for link in link_list:
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    descr_elem = soup.select("div.show-more-less-html__markup.show-more-less-html__markup--clamp-after-5 p")
    for i in descr_elem:
        element= i.get_text()
        text.append(element)

In [49]:
count = 0
for i in text:
    regexobj = re.compile(r'SQL',re.I)
    match = regexobj.findall(i)
    if match != []:
        print(i)
        count+=1

LeadSquared is looking for a Data Analyst (2-5 Years only) ( Very good SQL exp required)
● Own the design, development, and maintenance of ongoing metrics, reports, analyses, dashboards, etc. within SQL,
● Advanced proficiency in SQL, Python, and Excel
We are looking for candidates with excellent problem solving, excellent customer focus, and analytical skills to join our ABS Technical team. The ideal candidate should have a bachelors or master s degree in Technology with zero to two years of industry experience / interest in handling ETL processes for data projects. The candidate should possess excellent communication skills with the ability to articulate complex topics with business and technical teams. Candidate should be proficient in SQL, ETL tools, and at least in programming language. Working experience in Python to perform data manipulation and statistical analysis will be a good to have skill set. We are looking for self-motivated candidates who are pro-active, take end to end ownership of data products, and have exceptional focus on data quality.
We are looking for candidates with excellent problem solving, excellent customer focus, and analytical skills to join our ABS Technical team. The ideal candidate should have a bachelors or master s degree in Technology with zero to two years of industry experience / interest in handling ETL processes for data projects. The candidate should possess excellent communication skills with the ability to articulate complex topics with business and technical teams. Candidate should be proficient in SQL, ETL tools, and at least in programming language. Working experience in Python to perform data manipulation and statistical analysis will be a good to have skill set. We are looking for self-motivated candidates who are pro-active, take end to end ownership of data products, and have exceptional focus on data quality.
● Excellent knowledge of SQL, comfortable working with large and noisy datasets.
• Strong SQL and Python knowledge and Hands-on experience
We are looking for candidates with excellent problem solving, excellent customer focus, and analytical skills to join our ABS Technical team. The ideal candidate should have a bachelors or master s degree in Technology with zero to two years of industry experience / interest in handling ETL processes for data projects. The candidate should possess excellent communication skills with the ability to articulate complex topics with business and technical teams. Candidate should be proficient in SQL, ETL tools, and at least in programming language. Working experience in Python to perform data manipulation and statistical analysis will be a good to have skill set. We are looking for self-motivated candidates who are pro-active, take end to end ownership of data products, and have exceptional focus on data quality.
with knowledge in analyzing data, SQL and must experience working in banking domain
SQL, SQL SERVER, MS ACCESS, MS EXCEL
This position involves a) directly interacting with higher management and marketing leaders to gather requirements, b) implementing SQL transformations where necessary and building out reports and dashboards and c) presenting the insights to end-users and iterating on their feedback.
SQL, SQL SERVER, MS ACCESS, MS EXCEL
 Good hands on SQL
We are hiring a smart individual having excellent analytical skills. As an analyst, you will be required to perform data analytics to solve complex problems and find the desired solution. You will be working closely with all the departments in the company and some clients to develop BI reports. Along with SQL, google sheet and various BI tools, you would also be required to learn multiple tools and platforms used by the different teams in the organization.
Learn Data Analyst with Python, Sql & Tableau @ Just 9,999 INR Per Month
 SQL, SQL SERVER, MS ACCESS, MS EXCEL
● Data extraction using SQL / Macro business objects or similar.
● Write Python Scripts, SQL queries and understands the tech product to drive improvement.
● Expertise in databases and scripting languages (SQL, Basic Python, Advanced Excel).
· Experience with articulating product questions, pulling data from datasets (SQL) and using statistics to perform rigorous analysis.
o Expert in SQL, well-versed in R or Python . Knowledge of both R and Python is a plus
· Maintain up-to-date and detailed documentation of the current reporting landscape (specifications, definitions, timelines, distribution lists, SQL queries, execution guides, etc.)
· Knowledge of SQL and experience in writing and executing queries in e.g. Microsoft SQL Management Studio
The Analytic Consulting Group (ACG) collaborates with both internal and external clients, and data providers, leveraging various analytics to drive strategic thought and effective decision-making. The Data Analyst 1 is responsible for conducting data analyses using SAS/SQL/Python/R/Google Analytics/Adobe Analytics and other tools in support of a variety of analytic solutions.
· Hands on experience in writing SQL Queries
· Good working knowledge in using Pandas and sqlalchemy library
Required Technical Skill : HQL, SQL, Design Patterns, Data Structure, Data Transformation Experience with Big Data tools.
Fluent in SQL, Excel, and visualization tools such as Tableau or Qlikview; experience with a statistical programming language (e.g., R, Python) and/or web analytics tools (e.g., Adobe Ominture, Google Analytics) preferred
We are looking for an experienced data analyst, preferably with additional data science, machine learning and AI experience. The initial assignment will be with the Data Analytics team to optimize the quality of our datasets and prepare them for upcoming machine learning and AI tasks. You will use Databricks, Apache Spark, Spark SQL, Python, Tableau, and custom APIs to perform these tasks. Previous experience with real estate, telecom or geographic information systems is a plus.
Proficiency SAS/Base, SAS Macros, SAS/Graph and PROC SQL /Oracle
- Technical capabilities (Hands on) : Python (Pandas, SciPy, Sklearn, PyMc), Statistics, SQL, Data visualization. Handling very large, unstructured, multi-dimensional, different varieties of data sets.
We are looking for strong Data Engineers(MySQL, Python, Shell Script, Spark, Presto, EMR, Athena, Hudi) experienced in Wealth Management/Capital Markets domain, to create new data ingestion flows and pipelines using a wide variety of technologies centered around Python, MySQL, Shell Script and Spark. You’ll be working on data pipelines and tools to provide the underlying data ingestion framework for a leading wealth management platform for financial professionals and investors alike
3. Proficiency with the statistical tools such as Stata or SPSS and coding proficiency in programming languages such as R, SQL and Python, would tilt the scale significantly in favor of the candidate.
6. High level of proficiency with Excel, Macros, SQL.
iii.)Comfortable using macros and working knowledge of SQL would be an advantage
Role: Data Analytics (PowerBI, SQL, R/Python)
Excellent understanding of SQL, Python/R. Ability to be hands-on as needed. Experience in working on large datasets is a must.
• Working proficiency in effective use of analytics software (R, Python, SQL) and technology tools, especially related to analytics, data and modeling is mandatory.
 - SQL
 - Experience with latest databases technologies in the industry including Data Warehousing/ETL and Relational Databases (PostgreSQL, Snowflake, Databricks delta lake, etc.)
 - Proficiency in writing complex SQL with Redshift, PostgreSQL and Columnar Databases
POSITION : SQL Developer
NOTE : Please share your resume and below detail in one mail with subject line (SQL Developer(Mumbai))with your name to get processed your application immediately .
Role : SQL Developer
SQL, Campaign Developer
· Strong knowledge of and experience with BI tools (e.g. SSRS, PowerBI, Tableau) and databases (e.g. SQL, PostgreSQL)
• Understanding and experience using SQL to maintain, create and retrieve information from relational databases.
●     Developing SQL Server scripts within DataMC coding guidelines and practices
•       Demonstrated SQL Server coding ability
•       The ability to create and document scripts/programs to facilitate the extraction, transformation and loading of legacy data using Microsoft SQL Server, or like ETL tools, to implement new system or data warehouse repositories
•       Coding in T-SQL or Oracle PL-SQL
Excellent understanding of SQL, Python/R. Ability to be hands-on as needed. Experience in working on large datasets is a must.
•         SQL, Python, Amazon AWS understanding: Lambda Function, EC2, RDS.
•         6 months to 1 years of SQL experience (MySQL experience is a plus)
POSITION : SQL Developer
NOTE : Please share your resume and below detail in one mail with subject line (SQL Developer(Bangalore))with your name to get processed your application immediately .
Role : SQL Developer(Bangalore)
 • Familiarity with database architecture and one or more database platforms (e.g. SQL Server).
· Develop test data scripts (primarily in SQL & Python) based on ETL mapping artifacts and other technical documentation
· Integration testing - Services, ETL, Database (SQL/Oracle) - covering DML Validations, Batch Monitoring etc
 Hands on experience in SQL is mandatory.
● Perform various data analytics experiences in SQL, DBT, Google Data Studio, Tableau, and MS Excel using industry-accepted tools.
● Expert SQL skills to create views and power dashboards for analysis.
● Good working knowledge of SQL and R/Python to perform data querying, build BI models, and conduct data analysis. Experience with AWS or other cloud-based technology is a plus
- Hands-on knowledge and experience with tools and techniques for analysis (data warehouses, databases (e.g., SAS, SQL, Cognos, etc.), and data processing tools, analysis, presentation and application
loading of data from a wide variety of data sources using SQL ,SnowFlake and
● Advanced working SQL knowledge and experience working with relational
databases, query authoring (SQL) as well as working familiarity with a variety of
○ Experience with relational SQL and NoSQL databases, including Postgres
· Designing solutions for Big Data with a good understanding of cluster and parallel architecture as well as high-scale or distributed RDBMS and/or knowledge on NoSQL platforms, Java, Hadoop, Spark, Kafka, Databricks, Azure Cloud, Azure SQL etc.
· Expert in Design & Architecture in Java, Kafka, Hadoop, Spark, Azure Data Lake, Data bricks, Splunk, Elastic, Azure SQL, DB Architect, Schema Design, Report Design using Power BI etc
· Expert in structured & unstructured data - No-SQL Database such as Couchbase or Mongo, RBMS such as Oracle
Mandate Skills: VBA Macros, sql db, java script api, google app script
• Proficiencies in Google Tools , Microsoft tools and MRP systems: Excel power user, Macro (VBA), Power Point, Google Scripts, Knowledge on creating workflow on Sharepoint, Cognos/DOMO reporting & Query, Oracle, Agile, SQL(Structured Query Language), API(Application Programming Interface), RPA(Robotics Process Automation).
•            Experience with relational SQL, NoSQL DB, Streaming and ETL.
Skills needed - Python, Pyspark, Big Data Technologies - Hadoop, Hive, Scala, Spark, SparkSQL, Sqoop. Development on AWS Cloud preferable
· experience in SQL optimization and performance tuning, and development experience in programming languages like Python, PySpark, Scala etc.).
Mandatory Skills:SQL DB, Azure Data Lake
· experience in SQL optimization and performance tuning, and development experience in programming languages like Python, PySpark, Scala etc.).
- Must have efficiency on - Advanced Excel including Macros, R/Python, SQL/BigQuery, Data Studio, Power BI
Dealing with Data sources such as SQL(MSSQL, SSIS )/no-SQL(Mongo), third-party WebAPIs and
·         Advanced working SQL knowledge to create complex queries.
· Deep understanding of SQL, Python/R. Extensive hands-on with these tools, experience of working on large datasets is a must.
· Experience working with SQL
· SQL scripting experience is an advantage
Qualifications• Bachelor’s Degree in related field with relevant work experience• Strong MS Office skills especially Excel and Access• Ability to master current and learn new computer systems• 2+ years’ experience in related field preferred• Hands on analytical tool skills preferred• Excellent English spoken, comprehension and written skills• Excellent customer service skills preferred• Strong ability to manage and prioritize multiple projects preferred• SAP ECC, SAP MDG, SAP HANA experience preferred• Functional Requirements documentation skills preferred• Digital Fluency – exposure to AI/ML/NLP/RPA strongly preferred• Lean Mindset – LSS/Operational Excellence training and background preferred• MS Access/SQL/VBA/Python not required, but would be a great addition to the qualifications above
• Strong understanding of scripting languages, including R, Python, Scala, and SQL.
Access, business objects, Cognos, Excel, Hadoop, Apache Hive, Oracle, Power BI, Powermap, Power Pivot, Power Query, SAS, SharePoint, Apache Spark, SQL Server, SSRS, Tableau, Teradata, Visio
Programming/Scripting Languages: Apache Hive, Java, JavaScript, mdx, Python, r, SQL, T-SQL
4. strong in writing SQL queries.
• Proficiency with one or more relevant programming languages such as R, SQL, Python
● Experience working with SQL to manipulate medium/large data sets from multiple sources
2+ years of experience in data engineering and pipeline development using Python, Spark, and/or SQL
Familiarity with common databases (e.g. JDBC, SQL, Microsoft SQL, Oracle DB). Not all types required
· Use R / Python / SAS / SQL / Python /Excel & other relevant technologies to deliver analytics, dashboards and automated recurring insights/reports at desired frequency.
• Excellent knowledge in SQL scripting with complex query.
• Good knowledge of AZURE Cloud platform services stack - Azure Data Factory, Azure SQL Database, AZURE Data Warehouse, Azure Databricks, Azure Blob Storage, Azure Data Lake Storage, HDInsight, Cosmos DB, etc.
• Load/extract data from multiple cloud applications like Salesforce.com etc. and legacy applications (e.g., SQL Server).
● Experience in developing solutions in some of SQL (+ variants), Python, Scala, Java
Hands-on experience with EMR Apache Spark Hadoop technologies Good knowledge of Configuring and working on Multi-node clusters and distributed data processing framework Spark. Python and PySpark, Spark SQL.
We are looking for PL/SQL Developer
Hands on experience on latest PL-SQL version and complete DB understanding
• At least 2 years of experience in SQL and PySpark
•	SQL
Must Have – Python/Scala, Spark, SQL
Data Integration Engineer - T-SQL/SSIS
· Good Knowledge in T-SQL ( SQL Server 2008 or Later )
Hiring for PLSQL Developer for PAN India
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
Hiring for PLSQL Developer for PAN India
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
● Proficiency in SQL
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
Need a SQL Server Developer with Postgres Migration experience.
MS SQL, Postgres, DBA, Migration experience.
· Expertise in relational databases and usage of SQL.
SQL is mandatory
3. Have experience with performance tuning specific to SQL.
4. Excellent Expertise in SQL, can independently mine data to translate Business data needs into creative
5. Knowledge of Optimization and fine tuning in SQL
14. Projects will include design, deployment ,and on-going enhancements request through SQL and Visualize the data through optimized manner. Build prototypes for demonstration and illustration purposes for peer groups ,Business partners, or senior leaders.
Hiring for PLSQL Developer for PAN India
Job Title: PLSQL Developer
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
Job Title: PLSQL Developer
· Expertise in SQL and PL/SQL programming, developing complex code units
We are hiring Pl/Sql Developer
- Python & SQL
Skills -Talend Tool,SQL
SQL Developer with SSIS : 7+ Yrs. Experience
SQL Developer with SSIS.- 7 to 12 Years
· Developing, installing, maintaining, monitoring and providing support for SQL databases using MS-SQL and T-SQL tools;
 Utilizing development tools/environments like Microsoft Visual Studio, SQL Management Studio, SQL Profiler, Microsoft Team Foundation Server and
 Programming languages including C# and T-SQL
Hiring for PLSQL Developer for PAN India
Job Title: PLSQL Developer
· Expert level of SQL skills, including reverse-engineering database structures and data definitions by investigating actual data to create and validate hypothesis
•	SQL
● Proficiency in SQL
Must-Have: Expertise on SQL and PL/ SQL skills
Good-to-Have: RAC, performance tuning, SQL tuning.
Job Title: PLSQL Developer
What we are looking for: Expertise in SQL and PL/SQL programming, developing complex code units.

In [50]:
count

149

In [ ]:
'SQL|Python|Power BI|PowerBI|Tableau|Excel|R|Qlik|'

In [10]:
len(link_list)

987

In [27]:
len(text) # contains empty strings

3949

In [26]:
while ("" in text):
    
    text.remove("")#use remove to strip off empty strings from the list
    text.remove(" ")

In [ ]:
len(text) #check the length again

In [54]:
text.index('● Advanced proficiency in SQL, Python, and Excel')

18

In [51]:
text[0]

'LeadSquared is looking for a Data Analyst (2-5 Years only) ( Very good SQL exp required) '

# Submit Form using Selenium

In [ ]:
driver = webdriver.Edge()

driver.get('http://www.webscrapingfordatascience.com/postform2/')

driver.find_element_by_name('name').send_keys('Pranav')
driver.find_element_by_css_selector('input[value="M"]').click()
driver.find_element_by_name('salad').click()
driver.find_element_by_name('fries').click()
Select(driver.find_element_by_name('haircolor')).select_by_value('black')
driver.find_element_by_name('comments').send_keys('I am currently learning to code in Python',Keys.ENTER ,'and aspire to become a Data Analyst')
input('Press Enter to Submit your Form')
driver.find_element_by_css_selector('input[value="Submit my information"]').click()

input('Press Enter to close the browser')

driver.quit()

In [ ]:
browser = webdriver.Edge()
browser.get('https://nostarch.com/')

html_elem = browser.find_element_by_tag_name('html')
html_elem.send_keys(Keys.HOME)
html_elem.send_keys(Keys.END)

In [ ]:
browser = webdriver.Edge()
browser.get('https://www.espncricinfo.com/series/india-in-west-indies-2022-1317885/west-indies-vs-india-1st-odi-1317900/match-overs-comparison')

elem = browser.find_elements_by_class_name('ds-border-b ds-border-line')
for i in range(len(elem)):
    elem[i].click()`

In [ ]:
driver = webdriver.Edge()
driver.get('http://www.webscrapingfordatascience.com/complexjavascript/')
input('press Enter to close the webbrowser')
driver.quit()

In [ ]:
driver = webdriver.Edge()
driver.implicitly_wait(30)
driver.get('http://www.webscrapingfordatascience.com/complexjavascript/')

elements = driver.find_elements_by_class_name('quotes')

for i in elements:
    print(i.text)

input('Press Enter to close:')

driver.quit()

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
res = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes')
soup = BeautifulSoup(res.text)
type(soup)

In [ ]:
tagobj1 = soup.find('h1')

In [ ]:
tagobj

In [ ]:
tagobj.name

In [ ]:
str(tagobj)

In [ ]:
tagobj.text

In [ ]:
tagobj.get_text()

In [ ]:
tagobj.contents

In [ ]:
tagobj.attrs

In [ ]:
soup.find_all(['h1','h2'])[0].get_text('--')

In [ ]:
cite_elems = soup.find_all('cite',attrs = {'class':'citation'},limit = 5)

In [ ]:
for cont in  cite_elems:
    print(cont.get_text())
    link = cont.find('a')
    print(link.get('href'))

In [ ]:
res = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes')
soup = BeautifulSoup(res.text,'html.parser')

tagobj = soup.find_all('table',class_='wikiepisodetable')

episodes = []

for tables in tagobj:
    header=[]
    header_elem = tables.find_all('th',scope = 'col')
    for i in header_elem:
        header.append(i.get_text())
    
    
    
    for rows in tables.find_all('tr')[1:] :
        value = []
        value_elem = rows.find_all(['td','th'])
        
        for j in value_elem:
            value.append(j.get_text())
       
        for k in range(len(value)):
            episode_dict = {header[k]:value[k]}
            episodes.append(episode_dict)

In [ ]:
episodes

# links from Wikipedia page

In [ ]:
res = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes')
soup = BeautifulSoup(res.text, 'html.parser')

elem_tag = soup.find_all('a')

for i in elem_tag:
    try:
        print(i.get_text())
        print('https://en.wikipedia.org'+ i.get('href'))
    except:
        pass

In [ ]:
res = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes')
soup = BeautifulSoup(res.text, 'html.parser')

elem = soup.find_all('table')
table_str = []

for i in elem:
    
    regexobj = re.compile(r'^<table\sclass="wikitable"\sstyle="text-align:center">')
    cont = regexobj.findall(str(i))
   
    if cont!=[]:
        
        table_str.append(i)
        
episodes = []  

for table in table_str:
    headers = ['Season']
    for rows in table.find_all('tr')[1].find_all('th'):
        headers.append(rows.get_text())
   
    headers += ['Average']
    print(headers)
    for rest in table.find_all('tr')[2:8]:
        values = []
        val = rest.find_all(['th','td'])
        for j in val[1:]:
            
            values.append(j.get_text())
        
        for k in range(len(values)):
            dic = {headers[k]:values[k]}
          
            episodes.append(dic)

In [ ]:
for epis in episodes:
    print (epis)

In [ ]:
episodes.split('{')

In [ ]:
tags1 = [t for t in soup.select('cite a[href]') if 'nofollow' in t.get('rel','')]

In [ ]:
tags2 = [t for t in soup.select('cite a[href]')]

for i in tags2:
    if 'nofollow' in None:
        print('ok')
    else:
        print('no')

In [ ]:
a = soup.select('cite>a[href]')

In [ ]:
for i in a:
    if i not in tags1:
        print(i)

In [ ]:
tags2[0].get('rel',[])

In [ ]:
for t in soup.select('cite a[href]'):
    print (t.get('rel',[]))

# Cricinfo commentary scraper to find the length distribution of a bowler(.....)

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
res= requests.get('https://www.espncricinfo.com/series/india-in-west-indies-2022-1317885/west-indies-vs-india-1st-odi-1317900/ball-by-ball-commentary')

soup = BeautifulSoup(res.text,'html.parser')

com_elem = soup.find_all('div', class_='ds-ml-4 lg:ds-ml-3')
over_elem = soup.find_all('div',class_ = 'lg:ds-flex lg:ds-items-center lg:ds-px-2')


com = [i.find('p').get_text() for i in com_elem]
over = [i.find('span').get_text() for i in over_elem]

dic = {'overs':over, 'commentary':com}

In [ ]:
df = pd.DataFrame(dic)

In [ ]:
df

In [ ]:
deliveries = []
for i,j in df.iterrows():
    regexobj = re.compile(r'full\stoss|full|hard\slength|good|yorker|short|bouncer',re.I)
    cont = regexobj.findall(df['commentary'][i])
    
    
    if cont!=[]:
        if 'yorker' and ''
        print(df['overs'][i],cont)
        deliveries +=cont
        
deliveries = [i.lower() for i in deliveries]
count_york = 0    
for i in deliveries:
    if 'yorker' in i:
        count_york +=1

york_perc = 100*count_york/len(df)
print(york_perc)

In [ ]:
count_york

In [ ]:
res= requests.get('https://www.bcci.tv/events/72/india-tour-of-west-indies-odi-series-2022/match/584/1st-odi')

soup = BeautifulSoup(res.text,'html.parser')

com_elem = soup.find_all('div', class_='cmdEvent fourCmd mcBall mcBall mcBall mcBall mcBall mcBall')

com = [i.find('div').find('p').get_text() for i in com_elem]

In [ ]:
type(soup)

In [ ]:
 'full oss' and 'had' in ['yorker', 'full toss', 'hard']

# If a website is using  protection, use GET method to extract the value that's refreshing everytime

In [ ]:
#res = requests.get('http://www.webscrapingfordatascience.com/postform3/')

formdata = {'protection':'060739331cf34ba85b4ec2191a3a7950','name': 'Pranav','gender':'M', 'haircolor':'black','comments':''}

res = requests.post('http://www.webscrapingfordatascience.com/postform3/', data = formdata)
print(res.text)

In [ ]:
res = requests.get('http://www.webscrapingfordatascience.com/postform3/')

soup = BeautifulSoup(res.text,'html.parser')

value = soup.find('input').get('value')

formdata = {'protection':value,'name': 'Pranav','gender':'M', 'haircolor':'black','comments':''}

res = requests.post('http://www.webscrapingfordatascience.com/postform3/')
print(res.text)

# Downloading image file

In [ ]:
res = requests.get('http://www.webscrapingfordatascience.com/files/kitten.jpg',stream =True)

with open('image.jpg','wb') as file:
    file.write(res.content)

In [ ]:
file = open('image_new.jpg','wb')

for chunk in res.iter_content(1000000):
    file.write(chunk)
file.close()

In [ ]:
res = requests.post('http://www.webscrapingfordatascience.com/jsonajax/results2.php', json={'api_code': 'C123456'})

print(res.json())
print(res.json().get('results'))
print(res.request.headers)

In [ ]:
res = requests.get('http://www.webscrapingfordatascience.com/simplejavascript/')
soup = BeautifulSoup(res.text,'html.parser')

tagel = soup.find('u1')
print(tagel)
script_tag = soup.find('script',attrs = {'src':None})
print(script_tag)

In [ ]:
res = requests.get('http://www.webscrapingfordatascience.com/simplejavascript/quotes.php',cookies = {'jsenabled':'1'})

res.json()

In [ ]:
res = requests.get('https://www.bcci.tv/events/72/india-tour-of-west-indies-odi-series-2022/match/586/3rd-odi')
soup = BeautifulSoup(res.text,'html.parser')

script = soup.find('script',src=None)
print(script)